/* body {
    background-color: lightcyan;
} */

.container {
    background-color: lightcyan;
}

h1 {
    color: red;
}

div {
    /* font-size: 28px; */
    color: blue;
}

#main {
    color: green;
}

#footer {
    font-size: small;
    font-weight: bold;
    border: solid 25px blue;
    background-color: lightcoral;
    text-align: center;
    margin: 10px;
    padding: 20px;
    /* padding:10px 50px 40px 20px; */
}

.mag-text {
    color: magenta;
}

button {
    background-color: darkblue;
    color:white;
    padding: 10px;border-color: darkblue;
    border-radius: 5px;
    font-weight: bold;
    margin-left: 10px;
}

img {
    width: 100px;
    height: 100px;
}